In [14]:
# necessary Imports
import pandas as pd

In [2]:
data = pd.read_csv('Advertising.csv') # Reading the data file

In [3]:
data.head() # checking the first five rows from the dataset

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [9]:
data.shape

(200, 5)

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
# create X and y
feature_cols = ['TV']
X = data[feature_cols]
y = data.sales
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train, y_train)

# print intercept and coefficients
print(lm.intercept_)
print(lm.coef_)

7.1196384305929525
[0.04652973]

In [12]:
y_pred = lm.predict(X_test)

In [5]:
#  Let's create a DataFrame since the model expects it
X_new = pd.DataFrame({'TV': [50]})
X_new.head()

   TV
0  50

In [6]:
# use the model to make predictions on a new value
lm.predict(X_new)

array([9.40942557])

In [7]:
from sklearn.metrics import r2_score

In [13]:
print(r2_score(y_test, y_pred))

0.6766954295627077